
:root{
  --bs-darkgrey-rgb: 77, 82, 86;
}

.App{
  height: 100%;
  color:white;
}

.Body-content{
  margin: 5px;
}

.cardPicker{
  margin-top: 2em !important;
}

.sensorCard{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  cursor: pointer;
  color:white;
}

.bg-darkgrey{
  background-color: rgb(var(--bs-darkgrey-rgb)) !important;
}